In [9]:
import sqlite3
import msgpack
import json
import pandas as pd
from sqlalchemy import create_engine
import pickle
    
# ---------------------------------------------------------Задание 5-----------------------------------------------------------

print("\n\nЗадание 5\n")
print('Описание предметной области:')
print('В датасете films.json представлена информация о наиболее популярных фильмах Кинопоиска')
print('В датасете awards.pk представлена информация о номинациях на различные награды различных фильмов')

conn = sqlite3.connect('5_movies.db')  
cursor = conn.cursor()

data_films = pd.read_json('5/films.json')
data_awards = pd.read_pickle('5/awards.pkl')

data_films.to_sql('films', conn, if_exists='replace', index=False)
data_awards.to_sql('awards', conn, if_exists='replace', index=False)

cursor.execute('''
CREATE TABLE IF NOT EXISTS films_awards AS
SELECT * FROM films
INNER JOIN awards ON films.id = awards.movieId
''')

cursor.execute('''
SELECT name, COUNT(id) AS count_awards FROM films_awards 
GROUP BY id
ORDER BY COUNT(id) DESC
LIMIT 10
''')

most_awards_films = cursor.fetchall()
results = [{'name': row[0], 'count_awards': row[1]} for row in most_awards_films]

with open('5_most_awards_films.json', 'w', encoding ='utf8') as json_file:
    json.dump(results, json_file, ensure_ascii=False, indent=4)
    
cursor.execute('''
SELECT * FROM films_awards 
GROUP BY id
HAVING nomination_award_title=(?)
''', ['Оскар'])

most_awards_films = cursor.fetchall()
results = [{'name': row[0], 'count_awards': row[1]} for row in most_awards_films]

with open('5_most_awards_films.json', 'w', encoding ='utf8') as json_file:
    json.dump(results, json_file, ensure_ascii=False, indent=4)

conn.commit()
conn.close()

Задание 5

Описание предметной области:
В датасете films.json представлена информация о наиболее популярных фильмах Кинопоиска
В датасете awards.pk представлена информация о номинациях на различные награды различных фильмов

OperationalError: no such column: nomination_award_title

In [10]:
data_awards

,movieId,nomination_award_title,nomination_award_year,nomination_title
0,4664634,Оскар,2024,Лучший грим и прически
1,4664634,Оскар,2024,Лучший звук
2,4664634,Оскар,2024,Лучшие костюмы
3,4664634,Оскар,2024,Лучшая работа художника-постановщика
4,4664634,Оскар,2024,Лучший адаптированный сценарий
...,...,...,...,...
245,397,Оскар,1985,Лучшая мужская роль
246,332,Венецианский кинофестиваль,1954,Золотой лев
247,489,Оскар,1958,Лучший монтаж
248,489,Оскар,1958,Лучший звук
249,489,Оскар,1958,Лучший режиссер

In [13]:
data_films

,id,type,name,year,genres,countries,ageRating,rating.kp,rating.imdb,rating.filmCritics,budget.value,budget.currency
0,326,movie,Побег из Шоушенка,1994,драма,США,18.0,9.109,9.3,8.2,25000000,$
1,435,movie,Зеленая миля,1999,"драма, фэнтези, криминал",США,18.0,9.076,8.6,6.8,60000000,$
2,734128,movie,Время не терпит,2016,драма,США,NaN,8.978,8.9,0.0,250000,$
3,448,movie,Форрест Гамп,1994,"драма, комедия, мелодрама, история, военный",США,18.0,8.921,8.8,7.9,55000000,$
4,329,movie,Список Шиндлера,1993,"драма, биография, история, военный",США,18.0,8.847,9.0,9.2,22000000,$
...,...,...,...,...,...,...,...,...,...,...,...,...
198,21844,movie,Клуб «Завтрак»,1985,"драма, комедия",США,18.0,8.003,7.8,7.7,1000000,$
199,9691,movie,Бесславные ублюдки,2009,"боевик, драма, комедия, военный","Германия, США",18.0,8.003,8.4,7.8,70000000,$
200,424,movie,Новый кинотеатр «Парадизо»,1988,"драма, мелодрама","Италия, Франция",16.0,8.002,8.5,8.1,5000000,$
201,468,movie,Взвод,1986,"военный, история, драма","США, Великобритания",16.0,8.002,8.1,8.5,6000000,$
202,353,movie,Сансет бульвар,1950,"фильм-нуар, драма",США,16.0,8.001,8.4,9.5,1752000,$

In [21]:
import sqlite3

# Подключение к базе данных
conn = sqlite3.connect('5_movies.db')
cursor = conn.cursor()

# Получение названий столбцов из таблицы films
cursor.execute("PRAGMA table_info(films_awards)")
columns_info = cursor.fetchall()

# Закрытие соединения
conn.close()

# Вывод названий столбцов
column_names = [column[1] for column in columns_info]
print(column_names)

['id', 'type', 'name', 'year', 'genres', 'countries', 'ageRating', 'rating.kp', 'rating.imdb', 'rating.filmCritics', 'budget.value', 'budget.currency', 'movieId', 'nomination.award.title', 'nomination.award.year', 'nomination.title']